<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Create Room</title>

        <link rel="stylesheet" type="text/css" href="../lib/Semantic-UI-CSS-master/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="css/custom.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.css">

        <script src="../lib/jquery-3.3.1.min.js"></script>
        <script src="../lib/Semantic-UI-CSS-master/semantic.js"></script>
        <script src="./js/user.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    </head>

    <body>
        <div class="ui clearing segment" id="userContainer">
            <template id="user">
                <h3 class="ui right floated header">
                    <i class="user circle outline icon"></i>
                    <div class="content">
                        <span>{{fname}} {{lname}} - {{pseudo}}</span>
                        <div class="sub header"><span>{{balance}}</span>$</div>
                        <i class="sign out alternate icon" onclick="logout()"></i>
                    </div>
                </h3>
                <h3 class="ui left floated header">
                    <div class="content">Play
                        <div class="sub header">Fight against someone else</div>
                    </div>
                </h3>
            </template>
            <div class="ui four item menu">
                <a href="./home.html"  class="item">Home</a>
                <a href="./sell.html"  class="item">Sell</a>
                <a href="./buy.html" class="item">Buy</a>
                <a href="./play.html" class="item active">Play</a>

            </div>
        </div>
        
        <div class="ui three column grid">
            <div class="row"></div>
            <div class="column"></div>
            <div class="column">
                <form class="ui form" onsubmit="send(event)" method="POST">
                    <h3 class="ui dividing header">Create Room form</h3>
                    <div class="field">
                        <label>Name</label>
                        <input type="text" id="name" name="name">
                    </div>
                    <div class="field">
                        <label>Bet</label>
                        <input type="number" id="bet" name="bet">
                    </div>
                    <button class="ui button" type="reset">Cancel</button>
                    <button id="submit" class="ui button" type="submit" value="submit">OK</button>
                </form>
                <a href="./play.html" class="blue item">Do you want to join a room ? Click Here.</a>
            </div>
        </div>

        <script src="./js/createRoom.js"></script>
    </body>
</html>