<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Choose a card</title>

        <link rel="stylesheet" type="text/css" href="../lib/Semantic-UI-CSS-master/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="css/custom.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.css">

        <script src="../lib/jquery-3.3.1.min.js"></script>
        <script src="../lib/Semantic-UI-CSS-master/semantic.js"></script>
        <script src="./js/user.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    </head>

    <body>
        
        <div class="ui clearing segment" id="userContainer">
            <template id="user">
                <h3 class="ui right floated header">
                    <i class="user circle outline icon"></i>
                    <div class="content">
                        <span>{{fname}} {{lname}} - {{pseudo}}</span>
                        <div class="sub header"><span>{{balance}}</span>$</div>
                        <i class="sign out alternate icon" onclick="logout()"></i>
                    </div>
                </h3>
                <h3 class="ui left floated header">
                    <div class="content">CHOOSE a card
                        <div class="sub header">Choose a card before your fight</div>
                    </div>
                </h3>
            </template>
            <div class="ui four item menu">
                <a href="./home.html"  class="item">Home</a>
                <a href="./sell.html"  class="item">Sell</a>
                <a href="./buy.html" class="item">Buy</a>
                <a href="./play.html" class="item active">Play</a>
            </div>
        </div>

        <div class="ui grid">
            <div class="one wide column"></div>
            <div class="ten wide column">
                <h3 class="ui aligned header">My Cards</h3>
                <table class="ui fixed selectable single line celled table">
                    <thead>
                        <tr>
                            <th class="two wide">Name</th>
                            <th class="two wide">Family</th>
                            <th class="two wide">Affinity</th>
                            <th class="two wide">Energy</th>
                            <th class="two wide">HP</th>
                            <th class="two wide">Defence</th>
                            <th class="two wide">Attack</th>
                            <th class="two wide">Price</th>
                        </tr>
                    </thead>
                    <tbody id="container_cards">
                        <template id="chooseCards">
                            <tr>
                                <td style="display: none;">{{id}}</td>
                                <td>{{name}}</td>
                                <td>{{family_name}}</td>
                                <td>{{affinity}}</td>
                                <td>{{energy}}</td>
                                <td>{{hp}}</td>
                                <td>{{defense}}</td>
                                <td>{{attack}}</td>
                                <td>{{price}} $</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div class="five wide column">
                <div id="container_card">
                    <template id="chooseCard">
                        <div class="ui special cards">
                            <div class="card">
                                <div class="content">
                                    <div class="ui grid">
                                        <div class="three column row">
                                            <div class="column">
                                                <h5>{{name}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image imageCard">
                                        <div class="blurring dimmable image">
                                            <div class="ui fluid image">
                                                <a class="ui left corner label">
                                                    {{family_name}}
                                                </a>
                                                <img id="cardImgId" class="ui centered image" src="{{img_src}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="ui form tiny">
                                            <div class="field">
                                                <label id="cardNameId"></label>
                                                <textarea id="cardDescriptionId" class="overflowHiden" readonly="" rows="2">{{description}}
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <i class="heart outline icon"></i><span id="cardHPId"> HP {{hp}}</span> 
                                        <div class="right floated ">
                                                <span id="cardEnergyId">Energy {{energy}}</span>
                                            <i class="lightning icon"></i>
                                            
                                        </div>
                                    </div>
                                    <div class="content">
                                        <span class="right floated">
                                                <span id="cardAttackId"> Attack {{attack}}</span> 
                                            <i class=" wizard icon"></i>
                                        </span>
                                        <i class="protect icon"></i>
                                        <span id="cardDefenceId">Defense {{defense}}</span> 
                                    </div>
                                    <script>
                                    </script>
                                    <div class="ui bottom attached button" id="chooseCard" onclick="choose(room_id,{{id}})">
                                        <i class="gavel icon"></i>
                                        Play with <span id="cardPriceId"> {{name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>

        <script src="./js/choose-cards.js"></script> 
        <script src="./js/guest-choose-card.js"></script> 

    </body>
</html>