<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Room</title>

        <link rel="stylesheet" type="text/css" href="../lib/Semantic-UI-CSS-master/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="css/custom.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.css">

        <script src="../lib/jquery-3.3.1.min.js"></script>
        <script src="../lib/Semantic-UI-CSS-master/semantic.js"></script>
        <script src="./js/user.js"></script>
        <script src="./js/room.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    </head>

    <body>
        
        <div class="ui clearing segment" id="userContainer">
            <template id="user">
                <h3 class="ui right floated header">
                    <i class="user circle outline icon"></i>
                    <div class="content">
                        <span>{{fname}} {{lname}} - {{pseudo}}</span>
                        <div class="sub header"><span>{{balance}}</span>$</div>
                        <i class="sign out alternate icon" onclick="logout()"></i>
                    </div>
                </h3>
                <h3 class="ui left floated header">
                    <div class="content">Room
                        <div class="sub header">Fight against someone else</div>
                    </div>
                </h3>
            </template>
            <div class="ui four item menu">
                <a href="./home.html"  class="item">Home</a>
                <a href="./sell.html"  class="item">Sell</a>
                <a href="./buy.html" class="item">Buy</a>
                <a href="./play.html" class="item active">Play</a>

            </div>
        </div>

        <div class="ui grid">
            <div class="two wide column"></div>
            <div class="twelve wide column">
                <h3 class="ui aligned header" id="nameroom">Room</h3>
                <div id="container_fight"></div>
            </div>
        </div>

    </body>
</html>